@tailwind base;

@tailwind components;

@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.animated { visibility: visible !important; }

.zoom-on-hover {
  transition: all 2s ease-out;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}
