@tailwind base;

@tailwind components;

@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.animated { visibility: visible !important; }

html {
  @apply bg-gray-900;
}

.zoom-on-hover {
  transition: all 2s ease-out;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

.fix-aspect {
  max-width: calc(100vh * 1.8);
  max-height: 100vh;
}

.title-shadow {
  text-shadow: -0.05rem 0.05rem 0.05rem #1a202c;
}
